[submodule "coremark/coremark"]
	path = coremark/coremark
	url = https://github.com/eembc/coremark
[submodule "riscof/riscv-arch-test"]
	path = riscof/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
