#%# usage: op or value value {{# set_bits(high, low) }}
{% macro set_bits(high, low=none) -%}
  {%- if low == none -%}
    {%- set low = high -%}
  {%- elif high < low -%}
    {%- set high, low = low, high -%}
  {%- endif -%}
  0b
  {{- '0' * (31 - high) -}}
  {{- '1' * (high - low + 1) -}}
  {{- '0' * low -}}
{%- endmacro %}

#%# usage: op and value value {{# clear_bits(high, low) }}
{% macro clear_bits(high, low=none) -%}
  {%- if low == none -%}
    {%- set low = high -%}
  {%- elif high < low -%}
    {%- set high, low = low, high -%}
  {%- endif -%}
  0b
  {{- '1' * (31 - high) -}}
  {{- '0' * (high - low + 1) -}}
  {{- '1' * low -}}
{%- endmacro %}
