{#- preprocessor constants for main.mlog.jinja -#}

{#- linked buildings -#}
{% set REGISTERS = 'cell1' %}
{% set CSRS = 'processor17' %}
{% set INCR = 'processor18' %}
{% set CONFIG = 'processor19' %}

{% set ERROR_OUTPUT = 'message1' %}
{% set RESET_SWITCH = 'switch1' %}
{% set PAUSE_SWITCH = 'switch2' %}
{% set SINGLE_STEP_SWITCH = 'switch3' %}

{% set KBCONV_DATA = 'cell2' %}
{% set DISPLAY = 'display1' %}

{% block contents %}{% endblock %}
