/dts-v1/;

/ {
    #address-cells = <1>;
    #size-cells = <1>;
    model = "mlogv32";
    chassis-type = "embedded";

    chosen {
        // UART0: earlycon console=ttyUL0
        // SBI: earlycon=sbi console=hvc
        // for debugging: earlycon=sbi console=ttyUL0 kgdboc_earlycon= kgdboc= kgdbwait
        bootargs = "earlycon console=ttyUL0";
        mlogv32,alternate-bootargs =
            "earlycon=sbi console=hvc",
            "earlycon=sbi console=ttyUL0 kgdboc_earlycon= kgdboc= kgdbwait";
        stdout-path = &uart0;
    };

    rom@0 {
        compatible = "mtd-rom";
        reg = <0x0 (22*1024*1024)>;
        bank-width = <1>; // 8-bit "bus"

        #address-cells = <1>;
        #size-cells = <1>;

        rootfs@1000 {
            label = "rootfs";
            reg = <0x1000 (22*1024*1024 - 0x1000)>;
            linux,rootfs;
        };
    };

    memory@80000000 {
        device_type = "memory";
        // the last 256K are reserved for OpenSBI
        reg = <0x80000000 (14*1024*1024 - 256*1024)>;
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;
        timebase-frequency = <1000000>;

        cpu@0 {
            device_type = "cpu";
            compatible = "riscv";
            mmu-type = "riscv,sv32";
            reg = <0>; // hart id
            riscv,isa-base = "rv32i";
            riscv,isa-extensions =
                "i",
                "m",
                "a",
                "zicntr",
                "zicsr",
                "zifencei",
                "zihintpause",
                "sstc",
                "svade";

            cpu0_intc: interrupt-controller {
                compatible = "riscv,cpu-intc";
                #interrupt-cells = <1>;
                interrupt-controller;
            };
        };
    };

    timer {
        compatible = "riscv,timer";
        interrupts-extended = <&cpu0_intc 5>;
    };

    intc: interrupt-controller {
        compatible = "mlogv32,cpu-intc";
        #interrupt-cells = <2>;
        interrupt-controller;
        interrupts-extended = <&cpu0_intc 11>;
    };

    soc {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "simple-bus";
        ranges;

        uart0: serial@f0000010 {
            compatible = "xlnx,xps-uartlite-1.00.a";
            reg = <0xf0000010 0x10>;
            interrupts-extended = <&intc 11 1>; // IRQ_TYPE_EDGE_RISING
            current-speed = <38400>;
            fifo-size = <253>;
            xlnx,data-bits = <8>;
            xlnx,use-parity = <0>;
        };

        uart1: serial@f0000020 {
            compatible = "xlnx,xps-uartlite-1.00.a";
            reg = <0xf0000020 0x10>;
            interrupts-extended = <&intc 11 1>;
            current-speed = <38400>;
            fifo-size = <253>;
            xlnx,data-bits = <8>;
            xlnx,use-parity = <0>;
        };

        uart2: serial@f0000030 {
            compatible = "xlnx,xps-uartlite-1.00.a";
            reg = <0xf0000030 0x10>;
            interrupts-extended = <&intc 11 1>;
            current-speed = <38400>;
            fifo-size = <253>;
            xlnx,data-bits = <8>;
            xlnx,use-parity = <0>;
        };

        uart3: serial@f0000040 {
            compatible = "xlnx,xps-uartlite-1.00.a";
            reg = <0xf0000040 0x10>;
            interrupts-extended = <&intc 11 1>;
            current-speed = <38400>;
            fifo-size = <253>;
            xlnx,data-bits = <8>;
            xlnx,use-parity = <0>;
        };

        syscon: syscon@fffffff0 {
            compatible = "syscon";
            reg = <0xfffffff0 0x4>;
        };

        poweroff {
            compatible = "syscon-poweroff";
            regmap = <&syscon>;
            offset = <0x0>;
            value = <0x2>;
        };

        reboot {
            compatible = "syscon-reboot";
            regmap = <&syscon>;
            offset = <0x0>;
            value = <0x1>;
        };
    };
};
